.App-header {
  background-color: #358F98;
  height: 50px;
  padding: 20px;
  color: white;
}

.App {
  text-align: center;
  background-clip: #FFFFE5;  
}

.Content {
  margin-right: 25%;
  margin-left: 25%;  
}

.App-title {
  font-size: 1.5em;
}

errorContent{
  background-color: #358F98;
  width: 30%;
  height: 30%;
}

.errorMessage {
  padding-top: 30%;
  padding-bottom: 35%;
  opacity: 0.3;
  font-weight: 700;
  font-size: 36px
}
